<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
  <title>About Baagle Desktop Search</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="-1"/>
  <link rel="stylesheet" type="text/css" href="/images/standard.css"/>
</head>

<body>

<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="/"><img src="/images/logo-75.png" width="128" height="48" 
	alt="Baagle Desktop Search" border="0" class="medlogo"/></a></td>
    <td>
      <form method="get" action="/search.html">
	<input type="text" name="q" size="42" maxlength="256"
	  value="<tmpl_var q>" accesskey="s"/>
	<input type="submit" value="Search Desktop" class="button"/>
      </form>
    </td>
  </tr>
</table>

<h1>About Baagle Desktop Search</h1>
             
<pre>
<tmpl_var readme>
</pre>

<form action="/search.html" method="get">
<div class="searchBar">
  <input type="text" name="q" size="42" maxlength="256" value="<tmpl_var q>"/>
  <input type="submit" value="Search Desktop" class="button"/>
</div>
</form>

<div class="footer">
  <a href="/">Baagle Home</a>
  &nbsp;&bull;&nbsp;
  <b>About</b>
  &nbsp;&bull;&nbsp;
  <a href="/status.html">Status</a>
  &nbsp;&bull;&nbsp;
  &copy; 2004 - <tmpl_var year>
  <a href="http://www.floatingsheep.com/">
  <img src="/images/fss-logo-sm.png" width="114" height="21"
    title="Floating Sheep Studios" alt="Floating Sheep Studios"
    border="0" class="smlogo"/></a>
</div>

</body>
</html>
